
.calculatorContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #f0f0f0;
}

.mainView {
  padding: 15px;
  background-color: black;
  color: white;
  border-radius: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  width: 380px; 
}


.textInputContainer {
  margin-top: 10px;
  width: 356px;
  margin-bottom: 10px; 
}

.textInput {
  width: 100%;
  height: 120px; 
  background-color: #D3EBD3;
  border-radius: 10px;
  padding: 10px;
  font-size: 16px;
  resize: none;
}


.modeContainer {
  display: flex;
  margin-top: 5px;
}

.graphBtn {
  background-color: red;
  color: white;
  margin-left: 125px;
  border: none;
  border-radius: 5px;
  padding: 6px 10px;
  cursor: pointer;
  font-size: 12px;
  margin-bottom: 30px;
  height: 32px;
  width: 80px; 
}

.modeBtn {
  background-color: rgb(56, 23, 42);
  color: white;
  border: none;
  border-radius: 80px;
  cursor: pointer;
  width: 42px;
  height: 22px;
  font-size: 11px;
  margin-left: 14px;
  font-weight: bold;
  margin-bottom: 30px; 
}
.modeBtn3{
  background-color: rgb(0, 0, 0);
  color: white;
  border: none;
  border-radius: 80px;
  cursor: pointer;
  width: 40px;
  height: 22px;
  font-size: 11px;
  font-weight: bolder;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  margin-left: 14px;
  margin-bottom: 30px; 
}

.upperGrid {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(5, minmax(20px, auto)); /* Reduce row height */
  gap: 1px; /* Reduce gap */
  margin-top: px; 
  
}

.upperGrid button:nth-child(6) {
  visibility: hidden;
}



.upperGrid .calcBtn,
.upperGrid .arrowBtn,
.upperGrid .shiftBtn,
.upperGrid .alphaBtn {
  background-color: #D9D9D9;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-size: 14px;
  font-weight: bold; 
  display: flex;
  align-items: center;
  justify-content: center;
  width: 55px;
  height: 25px; 
}

.modeBtn1{
  background-color: #D9D9D9;
  color: black;
  
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-size: 12px;
  font-weight: bold; 
  display: flex;
  align-items: center;
  justify-content: center;
  
  width: 70px;
  height: 25px; 
}
.arrowBtn1 {
  background-color: #D9D9D9;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-size: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 30px; 
  width: 55px;
  height: 25px;
}

.upperGrid .shiftBtn {
  background-color: yellow;
}

.upperGrid .alphaBtn {
  background-color: #6792E9;
}

.upperGrid .arrowBtn {
  background-color: #D9D9D9;
}

.upperGrid .icon {
  width: 16px;
  height: 16px;
  object-fit: contain;
  background: transparent;
}

.upperGrid .label {
  color: white;
  font-size: 12px;
  margin-bottom: 2px; 
  text-align: center;
  margin-right: 5px; 
}


.lowerGrid {
  display: grid;
  grid-template-columns: repeat(5, 1fr); 
  grid-template-rows: repeat(4, 1fr); 
  gap: 2px; 
  align-items: center;
  
}

.lowerGrid .numberBtn,
.lowerGrid .operatorBtn,
.lowerGrid .deleteBtn,
.lowerGrid .clearBtn,
.lowerGrid .equalsBtn {
  background-color: #D9D9D9;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 13px;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 65px;
  height: 34px; 
}

.lowerGrid .deleteBtn,
.lowerGrid .clearBtn {
  background-color: #E07D31;
  color: white;
}

.lowerGrid .operatorBtn {
  background-color: #D9D9D9;
}

.lowerGrid .equalsBtn {
  background-color: #D9D9D9;
}


.label1 {
  font-size: 10px;
 
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 12px; 
    margin-bottom: 5px; 
    line-height: 1; /* Reduce spacing between text lines */

}

.label3 {
  color: white;
  font-size: 12px;
  margin-bottom: 2px; /* Reduced spacing */
  text-align: center;
  margin-right: 5px;
}

